<div class="group row">
  <igx-card type="outlined" *ngFor="let item of coindataTable1" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar [src]="item.URL" [roundShape]="true" size="medium" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>{{ item.Name }}</h3>
      <h5 igxCardHeaderSubtitle>{{ item.Symbol }}</h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="group_1 row">
        <div class="group_2 column">
          <p class="igx-typography__overline text">price</p>
          <p class="igx-typography__subtitle-2 text">{{ item.CurrentPrice }}</p>
        </div>
        <div class="group_3 column">
          <p class="igx-typography__overline text">24h</p>
          <p class="igx-typography__subtitle-2 text">{{ item.PercentageChange24h }}</p>
        </div>
      </div>
      <div class="group_4 row">
        <div class="group_2 column">
          <p class="igx-typography__overline text">market cap</p>
          <p class="igx-typography__subtitle-2 text">{{ item.MarketCap }}</p>
        </div>
        <div class="group_3 column">
          <p class="igx-typography__overline text">rank</p>
          <p class="igx-typography__subtitle-2 text">{{ item.Rank }}</p>
        </div>
      </div>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        <igx-icon>show_chart</igx-icon>
        <span>Price Chart</span>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>delete</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
